<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %></title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
       <nav>
        <div class="site-title">
            <a href="/"><h1>AFG Freelancers</h1></a>
            <p>AFG Freelancers Site</p>
        </div>
        <ul>
            <li><a href="/">AFG Freelancers</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create/member">Create New Member</a></li>
        </ul>
       </nav>
    </div>